<a href="https://colab.research.google.com/github/AyeshathHafeeza/Python/blob/main/Python_Assessment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Boolean & Operators Practice
#Task:
#Write a program that takes two integers as input and prints:
#True if both numbers are even
#True if at least one number is odd
#Otherwise False
#Topics: Booleans, Logical Operators (and, or, not)

a = int(input("Enter number1: "))
b = int(input("Enter number2: "))

print(a % 2 == 0 and b % 2 == 0 or a % 2 != 0 or b % 2 != 0)

Enter number1: 5
Enter number2: 3
True

In [ ]:
#02.Basic List Operations
#Task:
#Create a list of 5 fruits.
#Perform the following:
#Print the second fruit
#Change the third fruit to "kiwi"
#Add "mango" to the end
#Remove the first fruit
#Print the updated list
#Topics: Access, Change, Add, Remove List Items

list=['Avacado','Apple','Banana','Melon','Chikku']
print(list[2])
list[3]='Kiwi'
print(list)
list.append('mango')
print(list)
list.remove('Avacado')
print(list)

Banana
['Avacado', 'Apple', 'Banana', 'Kiwi', 'Chikku']
['Avacado', 'Apple', 'Banana', 'Kiwi', 'Chikku', 'mango']
['Apple', 'Banana', 'Kiwi', 'Chikku', 'mango']

In [ ]:
#3. Looping Through Lists
#Task:
#Given the list numbers = [2, 4, 6, 8, 10], use a for loop to:
#Print each number multiplied by 2
#Topics: Loop Lists

list=[2, 4, 6, 8, 10]
for i in list:
  list=i*2
  print(list)

4
8
12
16
20

In [ ]:
# 4. Tuple & Set Practice
# Task:
# Create a tuple of 4 colors.
# Create a set of 4 unique colors.
# Print both and explain the difference in behavior between tuples and sets.
# Topics: Tuples, Sets

tuple=('Green','Red','Pink','White') #ordered,immutable
set={'Black','Purple','Orange','Blue'} #Unordered,mutable

print(tuple)
print(set)

('Green', 'Red', 'Pink', 'White')
{'Black', 'Blue', 'Purple', 'Orange'}

In [ ]:
# 5. Simple Dictionary Access
# Task:
# Create a dictionary:
# student = {"name": "Ali", "age": 20, "grade": "A"}
# Print:
# The student's name
# Update the grade to "A+"
# Add a new key "city": "Lahore"
# Topics: Dictionaries – Access, Change, Add Items

student = {"name": "Ali", "age": 20, "grade": "A"}
print(student["name"])
student["grade"]="A+"
print(student)
student["city"]="Lahore"
print(student)

Ali
{'name': 'Ali', 'age': 20, 'grade': 'A+'}
{'name': 'Ali', 'age': 20, 'grade': 'A+', 'city': 'Lahore'}

In [ ]:
# 6. List Comprehension & Filtering
# Task:
# Given the list nums = [1, 2, 3, 4, 5, 6, 7, 8, 9],
# Use list comprehension to create a new list of only even numbers squared.
# Output should look like [4, 16, 36, 64].
# Topics: List Comprehension

list= [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list=[x**2 for x in list if x%2==0]
print(new_list)

[4, 16, 36, 64]

In [ ]:
# 7. Sorting & Copying Lists
# Task:
# Create a list of 5 random numbers.
# Then:
# Sort it in ascending order
# Make a copy of the sorted list
# Sort the copy in descending order
# Print both lists to show they are independent
# Topics: Sort, Copy Lists

list=[2, 4, 1, 8, 9]
list.sort()
print(list)
copy_list=list.copy()
print("Copy of sorted list:",list)
list.sort(reverse=True)
desc=list.copy()
print(desc)

[1, 2, 4, 8, 9]
Copy of sorted list: [1, 2, 4, 8, 9]
[9, 8, 4, 2, 1]

In [ ]:
# 8. Working with Tuples and Sets Together
# Task:
# Create a tuple colors = ("red", "green", "blue", "yellow")
# Convert it into a set
# Add a new color "orange" to the set
# Explain why you cannot add to the tuple directly
# Topics: Tuples (immutability), Sets (mutability)

colors= ("red", "green", "blue", "yellow")
new_set=set(colors)
print(new_set)

new_set.add("orange")
print(new_set)

#tuple is immutable

{'blue', 'red', 'green', 'yellow'}
{'orange', 'red', 'green', 'blue', 'yellow'}

In [ ]:
# 9. Dictionary Operations with Loop
# Task:
# Create a dictionary of 3 employees with their salaries:
# salaries = {"Ali": 50000, "Sara": 60000, "John": 55000}
# Use a for loop to print each employee’s name and salary increased by 10%.
# Topics: Dictionaries, Loops, Operators

employee={"Ali": 50000, "Sara": 60000, "John": 55000}

for name, salary in employee.items():
    new_salary = salary * 1.10
    print(f"{name}: {new_salary}")

Ali: 55000.00000000001
Sara: 66000.0
John: 60500.00000000001

In [ ]:
# 10. Combined Data Structures Mini Task
# Task:
# Create a list of dictionaries to represent students:
# students = [
#     {"name": "Ali", "marks": 85},
#     {"name": "Sara", "marks": 92},
#     {"name": "John", "marks": 78}
# ]
# Use:
# A loop to print all names with marks > 80
# A list comprehension to create a list of only the marks
# A set to remove duplicate marks if any
# Topics: Lists, Dictionaries, Loops, List Com

students = [
     {"name": "Ali", "marks": 85},
    {"name": "Sara", "marks": 92},
    {"name": "John", "marks": 78}
]
for student in students:
    if student["marks"] > 80:
        print(student["name"])

marks = [student["marks"] for student in students]
print(marks)

unique_marks = set(marks)
print(unique_marks)

Ali
Sara
[85, 92, 78]
{92, 85, 78}