<a href="https://colab.research.google.com/github/AyeshathHafeeza/Python/blob/main/Python_Assessment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Write a Python function normalize_text(text) that:
#removes leading and trailing spaces.
#Converts the string to lowercase.
#Replaces all tabs (\t) with a single space.
#Replaces multiple spaces with a single space.
#Returns the cleaned string.
import re
def normalize_text(text):
  text=text.strip()
  text=text.lower()
  text=text.replace("\\t"," ")
  text = re.sub(r'\s+', ' ', text)
  return text

raw_text=input("Enter string:")
cleaned=normalize_text(raw_text)
print(cleaned)

Enter string:   Hello\t\tWORLD   Python   \tProgramming
hello world python programming

In [ ]:
#2.Write a function word_frequency(sentence) that counts how many times each word appears in a given sentence (case-insensitive) and returns a dictionary.
#Example:
#Input:  "Python is fun, and python is powerful."
#Output: {'python': 2, 'is': 2, 'fun,': 1, 'and': 1, 'powerful.': 1}
input="Python is fun, and python is powerful"
def word_frequency(sentence):
  sentence=sentence.lower()
  words=sentence.split()
  freq={}

  for word in words:
    if word in freq:
      freq[word]+=1
    else:
      freq[word]=1
  return freq

text="Python is fun, and python is powerful"
result = word_frequency(text)
print(result)

{'python': 2, 'is': 2, 'fun,': 1, 'and': 1, 'powerful': 1}

In [ ]:
del input

In [ ]:
#3.Write a function validate_identifier(name) that checks if a given string is a valid Python identifier using built-in string methods.
#If valid, return "Valid identifier", else return "Invalid identifier".
#Example:
#Input:  "my_var1"
#Output: "Valid identifier"
#Input:  "1variable"
#Output: "Invalid identifier"

def validate_identifier(identifier):
    if identifier.isidentifier():
        return "Valid Identifier"
    else:
        return "Invalid Identifier"

x = input("Enter identifier: ")
print(validate_identifier(x))

Enter identifier: my_var1
Valid Identifier

In [ ]:
#4.Write a program that replaces all vowels (a, e, i, o, u) in a message with *, but preserves uppercase and lowercase letters for other characters.
#Example:
#Input:  "Hello World"
#Output: "H*ll* W*rld"
text="Ayeshath Hafeeza"
vowels="AEIOUaeiou"
for i in text:
  if i in vowels:
    text=text.replace(i,"*")
  else:
    text=text.replace(i,i)

print((text))

*y*sh*th H*f**z*

In [ ]:
#5.You are given a list of employee names. Create a formatted report string where:
#Each name is left-aligned within 15 spaces.
#The names are converted to title case.
#Each name appears on a new line.
#Example:
#names = ["alice johnson", "BOB SMITH", "eLiZa BeTh"]
#Output:
#Alice Johnson
#Bob Smith
#Eliza Beth
names = ["alice johnson", "BOB SMITH", "eLiZa BeTh"]